#container {
    background-color: #3D087B;
    top: 0;
    font-family: 'Rubik', sans-serif;
    height: 700px;
}
#upper-container {
    width: 90%;
    height: 170px;
    margin-left: 8%;
    display: flex;
    justify-content: space-between;
}
.clock {
    margin-top: 40px;
}
.overlap-cards {
    width: 50%;
    height: 80%;
    margin-top: 25px;
}
.card-1 {
    background-color: white;
    width: 400px;
    height: 130px;  
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    margin-left: 75px;
    opacity: 0.3;
}
.card-2 {
    background-color: white;
    width: 450px;
    height: 115px;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    margin-left: 45px;
    opacity: 0.6;
}
.card-3 {
    background-color: #ffffff;
    width: 550px;
    height: 100px;
    border-radius: 10px;
    position: absolute; 
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 0.5px;
}
.time {
    width: 20px;
    height: 20px;
    margin-top: 38px;
    color: #8A11BF;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.7px;
    font-size: 1.2rem;
    font-weight: 300;
}
.hour {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    background-color: #F6E2FF;
    text-align: center;
    color: #8A11BF;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.7px;
    font-size: 1rem;
    font-weight: 300;
}
.colen {
    margin-top: 30px;
    font-weight: 300;
    color: #8A11BF;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.7px;
    font-size: 2rem;
}
.min {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    background-color: #F6E2FF;
    text-align: center;
    color: #8A11BF;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.7px;
    font-size: 1rem;
    font-weight: 300;
}
.sec {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    background-color: #F6E2FF;
    text-align: center;
    color: #8A11BF;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.7px;
    font-size: 1rem;
    font-weight: 300;
}
#hours {
    font-size: 30px;
}
#minutes {
    font-size: 30px;
}
#seconds {
    font-size: 30px;
}
.time-conventions {
    width: 50px;
    height: 50px;
    margin-top: 23px;
    background-color: #F6E2FF;
    text-align: center;
}
#lower-container {
    display: flex;
    width: 90%;
    height: 430px;
    margin-left: 7%;
    display: flex; 
    justify-content: space-evenly; 
}
#tasks {
    width: 500px;
    height: 280px;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
}
.default {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    width: 550px;
    margin-left: 50px;
}
#image-text {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    margin-left: 30px;
    color: #8E53F0;
    font-weight: 800;
}
#image {
    width: 100%;
    height: 325px;
    border-radius: 5px;
    background-image: url(./images/default.png);
}
.wakeuptime {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 12%;
    margin: 20px auto;
}
.setwakeup {
    margin-top: 10px;
    color: #3D087B;
}
.dropdown {
    margin-top: 5px;
}
#wakeuptimeselector {
    width: 180px;
    height: 30px;
    text-align: center;
    outline: 0px;
    border: 0.7px solid #EDEDED;
    border-radius: 5px;
    color: #3D087B;
}
#lunchtimeselector {
    width: 180px;
    height: 30px;
    text-align: center;
    outline: 0px;
    border: 0.7px solid #EDEDED;
    border-radius: 5px;
    color: #3D087B;
}
#naptimeselector {
    width: 180px;
    height: 30px;
    text-align: center;
    outline: 0px;
    border: 0.7px solid #EDEDED;
    border-radius: 5px;
    color: #3D087B;
}
.vertical-lines {
    width: 50px;
    height: 30px;
    border-left: 1px solid black;
    margin-left: 65px;
    opacity: 0.3;
}
.empty {
    width: 50px;
    height: 20px;
} 
#party-time {
    width: 200px;
    height: 50px;
    background-color: #CB52F8;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: none;
}

#block1 {
    grid-row-start: 1;
    grid-row-end: 3;

    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    width: 300px;
    height: 20px;
}

#block2 {
    grid-row-start: 1;
    grid-row-end: 3;

    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    width: 300px;
    height: 20px;
}

#block3 {
    grid-row-start: 1;
    grid-row-end: 3;

    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    width: 300px;
    height: 20px;
}